openapi: 3.2.0
info:
  title: Zudoku Configuration API References Theming API
  description: Zudoku is an open-source, developer-first API documentation framework built by Zuplo.
  version: 1.0.0
  contact:
    name: Zuplo
    url: https://zudoku.dev
  license:
    name: MIT
    url: https://github.com/zuplo/zudoku/blob/main/LICENSE
servers:
- url: https://zudoku.dev
  description: Zudoku documentation site
tags:
- name: Theming
  description: Theme, branding, and visual customization.
paths:
  /config/theme:
    get:
      operationId: getTheme
      summary: Zudoku Get Theme Configuration
      description: Returns the theming and branding configuration including colors, fonts, logos, and dark mode settings that customize the look and feel of the generated documentation portal.
      tags:
      - Theming
      responses:
        '200':
          description: The theme configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeConfig'
components:
  schemas:
    ThemeConfig:
      type: object
      description: Theme and branding configuration for customizing the look and feel of the generated documentation portal.
      properties:
        light:
          $ref: '#/components/schemas/ThemeColors'
        dark:
          $ref: '#/components/schemas/ThemeColors'
        fonts:
          type: object
          properties:
            heading:
              type: string
            body:
              type: string
            code:
              type: string
    ThemeColors:
      type: object
      description: Color palette for a theme mode.
      properties:
        primary:
          type: string
          description: Primary brand color.
        background:
          type: string
          description: Background color.
        border:
          type: string
          description: Border color.
